<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

/* General formatting */
  * {
    box-sizing: border-box; font-family: "Red Hat Display", sans-serif;
  }
  body {
	background-color: #14181c;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .htext {
    text-decoration: none; color: #0985a7; line-height: 250%; font-family: "Red Hat Display", sans-serif;
  }
  .centeredtext {
    color: #f2f2f2; line-height: 150%; text-align: center; font-family: "Red Hat Display", sans-serif;
  }
  .pagetitle{
    color: #f07800; line-height: 300%; font-size: 24px; font-weight: bold; text-align: center; font-family: "Red Hat Display", sans-serif;
  }
  .footer { 
    position: fixed; text-align: center; bottom: 60px; width: 100%; color: white; font-family: "Red Hat Display", sans-serif;
  }  
  .headerbutton {
    background-image: -webkit-linear-gradient(top, #0a8dae, #087b98); border: none; color: white; width: 62px; padding: 2px 2px; text-shadow: 1px 1px 8px #000000; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; font-weight: bold; margin: 2px 2px; cursor: pointer; border-radius: 2px; font-family: "Red Hat Display", sans-serif;
  }
  .headerbutton:hover {
    -webkit-box-shadow: 1px 1px 10px 0 #2cc5eb inset;
  }
  .headerbuttonpressed {
    background-color: #133d47; border: none; color: #e1e1e1; width: 62px; padding: 2px 2px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; font-weight: bold; margin: 2px 2px; cursor: default; border-radius: 2px; font-family: "Red Hat Display", sans-serif;
  }
  .darkredbutton {
    background-color: black; border: 1px solid #8f1100; color: #f2f2f2; padding: 2px 8px; width:78px; text-align: center; text-decoration: none; display: inline-block; font-size: 12px; font-weight: normal; margin: 2px 2px; cursor: pointer; border-radius: 0px; font-family: "Red Hat Display", sans-serif;
  }
  .darkredbutton:hover {
    border: 2px solid #8f1100;
  }
  .guidebutton {
    background-color: #0985a7; border: none; color: white; padding: 4px 12px; width:88px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; font-weight: normal; margin: 14px 12px; cursor: pointer; border-radius: 4px; font-family: "Red Hat Display", sans-serif;
  }
  .guidebutton:hover {
    background-color: #0b9dc1;
  }
  .mylink {
    font-size: 16px; text-decoration: none; color: #0985a7; display: block; padding: 1px 16px; transition: all .25s; font-family: "Red Hat Display", sans-serif;
  }
  .mylink:hover {
    text-shadow: 0px 0px 12px #6ed2eb;
  }
  .adult {
    text-decoration: none;color: #d21d00; margin-left: 16px; font-weight: bold; font-family: "Red Hat Display", sans-serif; line-height: 150%;
  }
  .adult:hover {
    text-shadow: 0px 0px 12px #f7a69a;
  }
  
/* Accordion menu formatting */
  .container {
    width: 156px; height: 760px;
  }
  nav {
    position: fixed; display: flex; align-items: flex-start; width: 160px; height: 100%; background-color: rgba(0, 0, 0, 0);
  }
  input[type="radio"] {
    display: none;
  }
  #indie:checked + li, #networks:checked + li, #sports:checked + li, #preferences:checked + li {
    height: 600px;
  }
  li, ul label.title, ul {
    width: 100%; color: #e67300; display: block; font-weight: bold; margin: 0; padding: 0; font-family: "Red Hat Display", sans-serif;
  }
  ul label {
    height: 24px;
  }
  ul li {
    height: 28px; overflow: hidden; transition: all .5s;
  }
  li {
    display: block;
  }
  label.title {
    font-size: 18px; background: #3c1e00; padding: 10px 15px; cursor: pointer; transition: all .25s; font-family: "Red Hat Display", sans-serif;
  }
  label:hover {
    text-shadow: 0px 0px 10px #f4ab62;
  }
</style>
