.background {
  color: #404040;
  background-color: #eaeaea; }
  
button {
  min-height: 22px;
  min-width: 20px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border: 1px solid;
  border-radius: 3px;
  padding: 2px 6px;
  color: #404040;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: #fcfcfc;
}
